body {
  background-color: rgb(18, 19, 20);
}
h1 {
    color: whitesmoke
}
h2 {
    color: whitesmoke
}
h3 {
    color: whitesmoke
}
h4 {
    color: whitesmoke
}
h5 {
    color: whitesmoke
}
h6 {
    color: whitesmoke
}
p {
    color: whitesmoke
}
a {
    color: rgb(98, 43, 226)
}